/* 
Calculadora de Precios para comprar juegos en Steam
Autora: Alexia Michelle <alexia@goldendoglinux.org>
Licencia: GNU GPL 3.0
*/

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #1d1d41, #24244d, #292952);

/*      background: linear-gradient(135deg, #1d1d41, #292952); */

     color: #f1f1f1 !important; 
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    }

    .calculator-container {
      background: rgba(255, 255, 255, 0.3); 
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 350px;
    }

    .calculator-container h1 {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }

    .calculator-container label {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    .form-text {
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    .btn {
      width: 100%;
      font-size: 1rem;
      padding: 10px;
      border-radius: 8px;
    }

    #result {
      margin-top: 20px;
      font-size: 1.2rem;
    }

    a {
      color: #ffd700 !important;
      text-decoration: none !important;
    }

    a:hover {
      text-decoration: underline !important;
    }
