body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#calculator-form {
  margin-bottom: 20px;
}

#steam-price {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#calculate-button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#calculate-button:hover {
  background-color: #3e8e41;
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
